---
import '@/styles/globals.css'
import Layout from '../layouts/Layout.astro';
import PageUp from "../auth/sing-up/page.astro"
import PageIn from "../auth/sing-in/page.astro"
import Home from "./Home.astro"
import Perfil from "./Perfil.astro"
---

<Layout title="SnapVerse.">
	<main>
		<Home/>
	</main>
</Layout>